<ion-view view-title="Notifications">
    <ion-content>
        <div class="list">
            <a class="item item-avatar tilesbg" href="#">
                <img src="./img/sp1.jpg">
                <p>Juanid have tag you in a photo.</p>
                <div class="smallFont">
                    <span>3:30pm</span><span>1/4/6</span>
                </div>
            </a>
            <a class="item item-avatar tilesbg" href="#">
                <img src="./img/sp2.jpg">
                <p>Salman have liked your picture.</p>
                <div class="smallFont">
                    <span>3:30pm</span>
                    <span>1/4/6</span>
                </div>
            </a>
            <a class="item item-avatar tilesbg" href="#">
                <img src="./img/sp3.jpg">
                <p>you have been added to the group.</p>
                <div class="smallFont">
                    <span>3:30pm</span><span>1/4/6</span>
                </div>
            </a>
            <a class="item item-avatar tilesbg" href="#">
                <img src="./img/my1.jpg">
                <p>Ali have deleted you from the group.</p>
                <div class="smallFont">
                    <span>3:30pm</span><span>1/4/6</span>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
